/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css');*/

body{
    background-color: #9b9cb6;
}
.contact{
    padding: 2%;
    height: 650px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 5%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 1%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:100;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

footer {
    background-color: #1A1A1A;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    color: white;
    padding: 15px;
}

.redes-footer img {
    width: 36px;
    height: 36px;
    position: relative;
    margin: 20px;

}

.main1 {
    display: flex;
    margin: 0 auto;
}

a img:hover {
    color: #fff;
}

/*Formulario*/

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;

}